body {
  background-color:#667;
  font-family: Tahoma, Geneva, Helvetica, Arial, sans-serif;
  font-size:14px;
}
table#grid{
  border-spacing:0;
  border-collapse:collapse;
  border:2px solid black;
  -moz-box-shadow:    0 2px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow:         0 2px 4px 4px rgba(0, 0, 0, 0.25);
	width: 1076px;
	height: 510px;
	margin: 0 auto auto;
	z-index: 2;
	
}
td, th{
  border:1px solid black;
}
td.cell{
  width:12em;
  height:8em;
  background-color:#333;
  margin:0;
}
td.cell:hover{
	background-color:#2e2e2e;
	-webkit-box-shadow: inset 0 0 50px rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 0 50px rgba(255,255,255,0.25);
  box-shadow: inset 0 0 50px rgba(255,255,255,0.25);
}
th.col, td.row{
  width:12em;
  height:1.5em;
  max-height:1.5em;
  text-align:center;
  white-space:nowrap;
  background-color:#ccc;
}
td.row{
  width:1.5em;
  max-width:1.5em;
}
th.col:hover, td.row:hover{
  background-color:white;
}
th.col label{
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 1px;
}
td.row label{
  display: inline-block;
  font-weight: bold;
  margin-left:-50%;
  text-shadow: rgba(255, 255, 255, 0.8) -1px 0 1px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#x{
  width:1.5em;
  max-width:1.5em;
  height:1.5em;
  max-height:1.5em;
  background-color:black;
}
.info {
	position:absolute;
}
tbody th#x .info{
	color: white;
	font-size: 4em;
	vertical-align:middle;
	line-height: 8em; /* hack */
	text-shadow: black 0 0.1em 0.5em;
	letter-spacing: 0.1em;
}
th.col .info, td.row .info {
	
	border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  white 0%, white 95%, #999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(95%,white), color-stop(100%,#999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  white 0%, white 95%, #999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  white 0%, white 95%, #999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  white 0%, white 95%, #999 100%); /* IE10+ */
  background: linear-gradient(to bottom,  white 0%, white 95%, #999 100%); /* W3C */

	-webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.grid-overlay:before {
  content: "";
  position: fixed;
  background-color: rgba(34,102,153,0.5);

  background: -webkit-linear-gradient(skyblue 2px, transparent 2px), -webkit-linear-gradient(0, skyblue 2px, transparent 2px), -webkit-linear-gradient(skyblue 1px, transparent 1px), -webkit-linear-gradient(0, skyblue 1px, transparent 1px);
  background: -moz-linear-gradient(skyblue 2px, transparent 2px), -moz-linear-gradient(0, skyblue 2px, transparent 2px), -moz-linear-gradient(skyblue 1px, transparent 1px), -moz-linear-gradient(0, skyblue 1px, transparent 1px);
  background: -o-linear-gradient(skyblue 2px, transparent 2px), -o-linear-gradient(0, skyblue 2px, transparent 2px), -o-linear-gradient(skyblue 1px, transparent 1px), -o-linear-gradient(0, skyblue 1px, transparent 1px);
  background: -ms-linear-gradient(skyblue 2px, transparent 2px), -ms-linear-gradient(0, skyblue 2px, transparent 2px), -ms-linear-gradient(skyblue 1px, transparent 1px), -ms-linear-gradient(0, skyblue 1px, transparent 1px);
  background: linear-gradient(skyblue 2px, transparent 2px), linear-gradient(0, skyblue 2px, transparent 2px), linear-gradient(skyblue 1px, transparent 1px), linear-gradient(0, skyblue 1px, transparent 1px);

  -webkit-background-size: 5em 5em, 5em 5em, 1.0em 1.0em, 1.0em 1.0em;
  -moz-background-size: 5em 5em, 5em 5em, 1.0em 1.0em, 1.0em 1.0em;
  background-size: 5em 5em, 5em 5em, 1.0em 1.0em, 1.0em 1.0em;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  opacity: .3;
  pointer-events: none;
}